*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #F0EBE3;

    display: flex;
    justify-content: center;
}
  .container{
    height: auto;
    width: 100%;
    max-width: 540px;
    margin-top: 50px;
    border: 2px solid black;
    padding: 22px 35px 40px 36px;
    box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.015),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.026),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.033),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.04),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.049),
  100px 100px 80px rgba(0, 0, 0, 0.07);
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  */
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 10px;
  }

  .container h2{
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .container label{
    font-size: 20px;
    font-weight: bold;
    

  }

  .container input{
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 8px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    
  }

  .btn{
    margin-left: 8px;
    display: flex;
    gap: 20px;
    margin-top: 20px;

  }
  .btn button{
    background-color: #CDE8E5;
    padding: 10px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  
  }

  .btn button:hover {
    background-color: lightblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  }


  .item-list{
    outline: none;
    list-style-type: none;
    margin-top: 30px;
   
    font-size: 20px;
    font-weight: bold;
  
    

  }

  .item-list li{
    background-color: #FFEFEF;
    padding: 12px 8px 12px 20px;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }

  .item-list li:not(:last-child) {
    margin-bottom: 10px; 
}

.item-list li:hover{
  background-color: #F0EBE3; 

}

.total{
  margin-top: 30px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;  
}